.spanBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #0080ff;
}

.input {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;

  border: 1px solid #d1d1d1;
  border-radius: 5px;
  width: 276px;
  height: 36px;

  outline: none;
}

.pen {
}
